body{
    font-family: 'Lato', sans-serif;
}
h1{
  padding-top: 50px;
   text-align: center;
   font-size:75px;
   font-weight: 900;
  
}
.address{
    text-align: center;
    font-size:  20px;
    padding: 0px 130px;
    margin: 0px 70px;
    width: auto;
    font-weight: 500;
    word-spacing: 5px;
}
.id{
    text-align: center;
    font-size:  20px;
    padding: 0px 130px;
    width: auto;
    font-weight: 500;
    word-spacing: 5px;
}

.dot {
    height: 3px;
    width: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    padding-bottom: 5px;
  }
.experience{
    text-align: center;
    font-size:  20px;
    font-weight: 900;
    padding: 20px 130px;
    margin: 30px 70px;
    width: auto;
}
hr{
   
    width: 85%;
    height: 2px;
    background-color: black;
}
h2{
   padding: 15px 0px 0px 140px;
    font-weight: 1000;
    font-size: 35px;
    word-spacing: 5px;
}
h3{
    padding-left: 140px;
    font-size: 22px;
    font-weight: bolder;
}
p{
    padding-top: 0px;
    padding-left: 140px;
    font-size: 20px;
    font-weight: 550;
}
ul li{
    margin-left: 150px;
    font-size: 18px;
    word-spacing: 2px;
}
.last{
    display: inline-block;
    text-align: center;
    margin: 25px auto;
    width: 80%;
    font-size: 18px;
    word-spacing: 5px;
    padding-top: 10px;
}